@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

body{
  margin:0;
  font-family: "Grenze Gotisch", serif;
  font-weight: 900;
  font-size: 24px;
  line-height:1.8;

  background:#780606;

  min-height: 100vh;  
  display: flex;       
  flex-direction: column; 
}

html, body {
  height: 100%;
}

.text-section{
  max-width:800px;
  margin:auto;
  padding:120px 20px;
}

.scene {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.spacer {
  height: 200px;
  position: relative;
}

#prev-page {
  position: fixed;
  bottom: 20px;
  left: 20px;

  cursor: pointer;

  z-index: 9999; 

  opacity: 1;
  pointer-events: auto;

  transition: transform 0.2s ease;
}

#prev-page img {
  width: 60px;
  height: auto;
  display: block;

  pointer-events: none;
}

#left-decoration {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  width: 180px;

  z-index: 1;

  pointer-events: none;
}

.ending-image{
  text-align: center;
  margin-top: 80px;
}

#Down{
  width: 300px;
  display: inline-block;
}






#next-page {
  position: fixed;

  bottom: 20px;
  right: 20px;

  cursor: pointer;

  z-index: 9999;

  opacity: 1;
  pointer-events: auto;

  transition: transform 0.2s ease;
}


#next-page img {
  width: 60px;
  height: auto;

  display: block;

  pointer-events: none;
}

#prev-page:hover img,
#next-page:hover img {
  transform: scale(1.15);
}


#prev-page img,
#next-page img {
  transition: transform 0.2s ease;
}