@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

body{
  margin:0;
  font-family: "Grenze Gotisch", serif;
  font-weight: 900;
  font-size: 24px;
  line-height:1.8;

  background:#780606;

  min-height: 100vh;  
  display:flex;
flex-direction:column; 
}

html, body {
  height: 100%;
}

.text-section{
  max-width:800px;
  margin:auto;
  padding:120px 20px;
}

.scene {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.spacer {
  height: 200px;
  position: relative;
}

#prev-page {
  position: fixed;
  bottom: 20px;
  left: 20px;

  cursor: pointer;

  z-index: 9999; 

  opacity: 1;
  pointer-events: auto;

  transition: transform 0.2s ease;
}

#prev-page img {
  width: 60px;
  height: auto;
  display: block;

  pointer-events: none;
}

#next-page {
  position: fixed;
  bottom: 20px;
  left: 1400px;

  cursor: pointer;

  z-index: 9999; 

  opacity: 1;
  pointer-events: auto;

  transition: transform 0.2s ease;
}

#next-page img {
  width: 60px;
  height: auto;
  display: block;

  pointer-events: none;
}

#trigger-2 {
  height: 50px;
}

#left-decoration {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  width: 180px;

  z-index: 1;

  pointer-events: none;
}

.ending-image{
  text-align: center;
  margin-top: 80px;
}

#Down{
  width: 300px;
  display: inline-block;
}






.video-message {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 30px auto;
}

@keyframes videoBounce {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.03);
  }

  50% {
    transform: scale(0.99);
  }

  70% {
    transform: scale(1.015);
  }

  100% {
    transform: scale(1);
  }
}

.video-message.bounce {
  animation: videoBounce 0.6s ease;
}




.video-message video {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

#playVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60px;
  height: 60px;

  border-radius: 50%;
  border: none;

  background: rgba(0, 0, 0, 0.65);
  color: white;

  font-size: 24px;
  line-height: 60px;
  text-align: center;

  cursor: pointer;
  z-index: 10;
}




.painting {
    position: relative;

    width: 500px;
    aspect-ratio: 1 / 1;

    margin: 80px auto;
}

.painting-image {
    position: absolute;

    top: 6%;
    left: 9%;

    width: 82%;
    height: 88%;

    object-fit: cover;

    z-index: 1;
}

.painting-frame {
    position: absolute;

    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: contain;

    z-index: 3;

    pointer-events: none;
}


#dust {
    position: absolute;

    top: 6%;
    left: 9%;

    width: 82%;
    height: 88%;

    z-index: 2;

    touch-action: none;
}



#dust-message {

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 4;

    color: rgba(255,255,255,0.8);

    font-style: italic;

    font-size: 26px;

    pointer-events: none;

    text-align: center;

    transition: opacity 0.5s ease;

}


#fire-decoration {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  width: 550px;

  z-index: 1;

  pointer-events: none;
}



#final-message {

    text-align:center;

    font-size: 38px;

    line-height:1.5;

    opacity:0;

}


#final-message span {

    display:inline-block;

    opacity:0;

    transform:scale(0.7) translateY(15px);

    filter:blur(4px);

}


#final-message.show {

    opacity:1;

}


#final-message.show span {

    animation: appearWord 2.3s ease forwards;

}


@keyframes appearWord {

    0% {

        opacity:0;

        transform:scale(0.7) translateY(15px);

        filter:blur(4px);

    }


    60% {

        transform:scale(1.08) translateY(-3px);

    }


    100% {

        opacity:1;

        transform:scale(1);

        filter:blur(0);

    }

}



#paper-container {

    position: relative;

    height: 800px;

    width:100%;

}


#paper-ball {

    display:none;

    position:absolute;

    width:80px;

    top:0;
    left:50%;

    transform:
        translateX(-50%)
        translateY(-600px)
        rotate(0deg);

    z-index:20;

}



#paper-ball.fall {


    animation: paperFall 1.8s cubic-bezier(.25,.8,.25,1) forwards;


}



@keyframes paperFall {


    0% {

        transform:
            translateX(-50%)
            translateY(-600px)
            rotate(0deg);

    }


    70% {

        transform:
            translateX(-50%)
            translateY(20px)
            rotate(250deg);

    }


    82% {

        transform:
            translateX(-50%)
            translateY(-10px)
            rotate(300deg);

    }


    90% {

        transform:
            translateX(-50%)
            translateY(5px)
            rotate(340deg);

    }


    100% {

        transform:
            translateX(-50%)
            translateY(0)
            rotate(360deg);

    }


}




#paper-notif {

    position: fixed;

    top: 30px;
    left: 50%;

    transform:
        translateX(-50%)
        translateY(-30px)
        scale(0.9);

    opacity:0;

    background:white;

    padding:15px 25px;

    border-radius:15px;

    box-shadow:
        0 8px 20px rgba(0,0,0,0.25);

    font-family:Arial, sans-serif;

    font-size:18px;

    z-index:99999;

    transition:
        opacity 0.5s ease,
        transform 0.5s ease;

}



#paper-notif.show {

    opacity:1;

    animation:
        notifPaperBounce 0.6s ease forwards;

}
#paper-notif.hide {

    opacity:0;

    transform:
        translateX(-50%)
        translateY(-20px)
        scale(0.9);

}



#paper-ball {

    pointer-events:none;

}


#paper-ball.clickable {

    pointer-events:auto;

    cursor:pointer;

}



#paper-focus {

    position:fixed;

    inset:0;

    background:rgba(0,0,0,0.65);

    backdrop-filter:blur(8px);

    display:flex;

    align-items:center;

    justify-content:center;

    z-index:99999;

    opacity:0;

    pointer-events:none;

    transition:
        opacity 0.8s ease;

}


#paper-focus.show {

    opacity:1;

    pointer-events:auto;

}



#paper-focus.hide {

    opacity:0;

}



#paper-sheet {

    max-width:80vw;

    max-height:85vh;

    object-fit:contain;

    opacity:0;

    transform:
        scale(0.8)
        rotate(-5deg);

    cursor:pointer;

}





#paper-focus.show #paper-sheet {

    animation:
        paperOpen 0.8s ease forwards;

}





#paper-focus.hide #paper-sheet {

    animation:
        paperClose 0.8s ease forwards;

}



@keyframes paperOpen {


    from {

        opacity:0;

        transform:
            scale(0.8)
            rotate(-5deg);

    }


    to {

        opacity:1;

        transform:
            scale(1)
            rotate(0deg);

    }

}



@keyframes paperClose {


    from {

        opacity:1;

        transform:
            scale(1)
            rotate(0deg);

    }


    to {

        opacity:0;

        transform:
            scale(0.75)
            rotate(8deg);

    }

}












#prev-page {
  position: fixed;

  bottom: 20px;
  left: 20px;

  cursor: pointer;

  z-index: 9999;

  opacity: 1;
  pointer-events: auto;

  transition: transform 0.2s ease;
}


#next-page {
  position: fixed;

  bottom: 20px;
  right: 20px;

  cursor: pointer;

  z-index: 9999;

  opacity: 1;
  pointer-events: auto;

  transition: transform 0.2s ease;
}



#prev-page img,
#next-page img {
  width: 60px;
  height: auto;

  display: block;

  pointer-events: none;

  transition: transform 0.2s ease;
}



#prev-page:hover img,
#next-page:hover img {
  transform: scale(1.15);
}

#next-page,
#prev-page {

    z-index:100000;

}