.scene {
  position: relative;
}


.twitter-frame {
  width: auto;
  display: block;
}

.background {
  position: absolute;
  top: 0px;
  left: 480px;
  width: 35%;
}


@media screen and (max-width: 768px) {

  .background {
    width: 85%;

   
    left: 50%;
    top: 10px;

    transform: translateX(-50%);
  }

  .scene {
    transform: none;
  }
}




.like {
  position: absolute;

  left: 723px;
  top: 527px;

  width: 50px;
  cursor: pointer;

  transform-origin: center;
}

.CompleteLike {
  display: none;

  position: absolute;

  left: 720px;   
  top: 524px;   

  width: 50px;
  cursor: pointer;

  transform-origin: center;
}

@keyframes popIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }

  70% {
    transform: scale(1.15);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pop {
  animation: popIn 0.4s ease;
}






#secret {
  position: fixed;   
  top: 20px;
  left: 50%;

  transform: translateX(-50%) translateY(-20px) scale(0.9);

  opacity: 0;

  background: white;
  padding: 15px 20px;
  border-radius: 12px;

  box-shadow: 0 8px 15px rgba(0,0,0,0.2);

  transition: opacity 0.4s ease, transform 0.4s ease;

  z-index: 9999;
}

@keyframes notifBounce {
  0% {
    transform: translateX(-50%) translateY(-30px) scale(0.9);
  }
 
  60% {
    transform: translateX(-50%) translateY(5px) scale(1.05);
  }

  100% {
    transform: translateX(-50%) translateY(0) scale(1);
  }
}


.reply-trigger{
  position: absolute;
  
  left: 50%;
  top: 600px;

  width: 400px;
  height: 60px;

  transform: translateX(-50%);

  cursor: pointer;
  background: transparent;
  z-index: 10;
}

#reply-video{
  position: absolute;

  top: 74%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 490px;    
  height: auto;

  object-fit: contain;

  display: none;
  z-index: 100;
}

#reply-final{
  position: absolute;

  top: 69%;
  left: 49%;

  transform: translate(-50%, -50%);

  width: 522px;
  height: auto;

  object-fit: contain;

  display: none;
  z-index: 101;
}